@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom scroll for scrollable section */
  .scrollable-section::-webkit-scrollbar {
    width: 8px;
  }

  .scrollable-section::-webkit-scrollbar-track, .scrollable-section::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  .scrollable-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(66, 66, 66, 0.3);
  }

  .scrollable-section::-webkit-scrollbar-thumb {
    background-color: rgba(66, 66, 66, 0.8);
  }

  .scrollable-section::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
  }
}